:root {
	--sans: 'Helvetica';
}

body {
	font-size: 18px;
	margin: 0;
	background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sans);
	color: #000;
}

p {
	color: #1f1f1f;
}

summary {
	cursor: pointer;
}
