@font-face {
	font-family: 'Charter';
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('charter_regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Charter';
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('charter_italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Charter';
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: swap;
	src: url('charter_bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Charter';
	font-style: italic;
	font-weight: bold;
	font-stretch: normal;
	font-display: swap;
	src: url('charter_bold_italic.woff2') format('woff2');
}
:root {
	--sans: 'Helvetica Neue', sans-serif;
	--serif: 'Charter', serif;
	--internal-link-color: #a31621;
	--external-link-color: #253bff;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 15px;
	background-color: #f5f5f5;
	font-family: var(--serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sans);
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
pre {
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
}

blockquote {
	padding-left: 15px;
	border-left: 2px solid;
	opacity: 0.6;
}

figure {
	max-width: 700px;
	margin: 20px auto;
	text-align: center;
}

picture,
img {
	max-width: 700px;
}

figcaption {
	font-style: italic;
}

p {
	hanging-punctuation: first;
	color: #1f1f1f;
}

summary {
	cursor: pointer;
}

a {
	color: black;
	transition: color 0.3s;
}

a:hover {
	color: var(--external-link-color) !important;
}

a:visited {
	color: black;
}

.link-arrow {
	font-size: 12px;
	height: 22px;
	vertical-align: middle;
	display: inline-block;
	line-height: 12px;
}

li {
	margin: 10px 0;
}

code {
	line-height: 22px;
	font-size: 14px;
	padding: 2px;
	background-color: #ededed;
}

pre {
	overflow-x: scroll;
	background-color: #ededed;
	padding: 10px;
}
